<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easestrategy.mes.dao.EmployeeTrainMapper" >
  <resultMap id="BaseResultMap" type="com.easestrategy.mes.entity.EmployeeTrain" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EMPLOYEE_ID" property="employeeId" jdbcType="INTEGER" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="TRAIN_UNIT" property="trainUnit" jdbcType="VARCHAR" />
    <result column="TRAIN_SKILL" property="trainSkill" jdbcType="VARCHAR" />
    <result column="CREDENTIAL" property="credential" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EMPLOYEE_ID, BEGIN_DATE, END_DATE, TRAIN_UNIT, TRAIN_SKILL, CREDENTIAL, STATUS, 
    CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee_train
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee_train
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.easestrategy.mes.entity.EmployeeTrain" >
    insert into employee_train (ID, EMPLOYEE_ID, BEGIN_DATE, 
      END_DATE, TRAIN_UNIT, TRAIN_SKILL, 
      CREDENTIAL, STATUS, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{beginDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{trainUnit,jdbcType=VARCHAR}, #{trainSkill,jdbcType=VARCHAR}, 
      #{credential,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.easestrategy.mes.entity.EmployeeTrain" >
    insert into employee_train
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="employeeId != null" >
        EMPLOYEE_ID,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="trainUnit != null" >
        TRAIN_UNIT,
      </if>
      <if test="trainSkill != null" >
        TRAIN_SKILL,
      </if>
      <if test="credential != null" >
        CREDENTIAL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trainUnit != null" >
        #{trainUnit,jdbcType=VARCHAR},
      </if>
      <if test="trainSkill != null" >
        #{trainSkill,jdbcType=VARCHAR},
      </if>
      <if test="credential != null" >
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easestrategy.mes.entity.EmployeeTrain" >
    update employee_train
    <set >
      <if test="employeeId != null" >
        EMPLOYEE_ID = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="trainUnit != null" >
        TRAIN_UNIT = #{trainUnit,jdbcType=VARCHAR},
      </if>
      <if test="trainSkill != null" >
        TRAIN_SKILL = #{trainSkill,jdbcType=VARCHAR},
      </if>
      <if test="credential != null" >
        CREDENTIAL = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easestrategy.mes.entity.EmployeeTrain" >
    update employee_train
    set EMPLOYEE_ID = #{employeeId,jdbcType=INTEGER},
      BEGIN_DATE = #{beginDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      TRAIN_UNIT = #{trainUnit,jdbcType=VARCHAR},
      TRAIN_SKILL = #{trainSkill,jdbcType=VARCHAR},
      CREDENTIAL = #{credential,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>