<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easestrategy.mes.dao.MateBarcodeRuleConfMapper" >
  <resultMap id="BaseResultMap" type="com.easestrategy.mes.entity.MateBarcodeRuleConf" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SUPPLIER_PACKAGE" property="supplierPackage" jdbcType="VARCHAR" />
    <result column="BARCODECONF" property="barcodeconf" jdbcType="VARCHAR" />
    <result column="STARTLOC" property="startloc" jdbcType="INTEGER" />
    <result column="ENDLOC" property="endloc" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, SUPPLIER_PACKAGE, BARCODECONF, STARTLOC, ENDLOC, DESCRIPTION, STATUS, CREATE_TIME, 
    MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mate_barcode_rule_conf
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mate_barcode_rule_conf
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.easestrategy.mes.entity.MateBarcodeRuleConf" >
    insert into mate_barcode_rule_conf (ID, NAME, SUPPLIER_PACKAGE, 
      BARCODECONF, STARTLOC, ENDLOC, 
      DESCRIPTION, STATUS, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{supplierPackage,jdbcType=VARCHAR}, 
      #{barcodeconf,jdbcType=VARCHAR}, #{startloc,jdbcType=INTEGER}, #{endloc,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.easestrategy.mes.entity.MateBarcodeRuleConf" >
    insert into mate_barcode_rule_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="supplierPackage != null" >
        SUPPLIER_PACKAGE,
      </if>
      <if test="barcodeconf != null" >
        BARCODECONF,
      </if>
      <if test="startloc != null" >
        STARTLOC,
      </if>
      <if test="endloc != null" >
        ENDLOC,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="supplierPackage != null" >
        #{supplierPackage,jdbcType=VARCHAR},
      </if>
      <if test="barcodeconf != null" >
        #{barcodeconf,jdbcType=VARCHAR},
      </if>
      <if test="startloc != null" >
        #{startloc,jdbcType=INTEGER},
      </if>
      <if test="endloc != null" >
        #{endloc,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easestrategy.mes.entity.MateBarcodeRuleConf" >
    update mate_barcode_rule_conf
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="supplierPackage != null" >
        SUPPLIER_PACKAGE = #{supplierPackage,jdbcType=VARCHAR},
      </if>
      <if test="barcodeconf != null" >
        BARCODECONF = #{barcodeconf,jdbcType=VARCHAR},
      </if>
      <if test="startloc != null" >
        STARTLOC = #{startloc,jdbcType=INTEGER},
      </if>
      <if test="endloc != null" >
        ENDLOC = #{endloc,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easestrategy.mes.entity.MateBarcodeRuleConf" >
    update mate_barcode_rule_conf
    set NAME = #{name,jdbcType=VARCHAR},
      SUPPLIER_PACKAGE = #{supplierPackage,jdbcType=VARCHAR},
      BARCODECONF = #{barcodeconf,jdbcType=VARCHAR},
      STARTLOC = #{startloc,jdbcType=INTEGER},
      ENDLOC = #{endloc,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>