<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easestrategy.mes.dao.NodeJobConfMapper" >
  <resultMap id="BaseResultMap" type="com.easestrategy.mes.entity.NodeJobConf" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NODE_ID" property="nodeId" jdbcType="INTEGER" />
    <result column="IS_DETECT" property="isDetect" jdbcType="BIT" />
    <result column="PERSON_NUM" property="personNum" jdbcType="INTEGER" />
    <result column="SKILL_ID" property="skillId" jdbcType="INTEGER" />
    <result column="SKILL_LEVEL" property="skillLevel" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NODE_ID, IS_DETECT, PERSON_NUM, SKILL_ID, SKILL_LEVEL, STATUS, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from node_job_conf
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from node_job_conf
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.easestrategy.mes.entity.NodeJobConf" >
    insert into node_job_conf (ID, NODE_ID, IS_DETECT, 
      PERSON_NUM, SKILL_ID, SKILL_LEVEL, 
      STATUS, CREATE_TIME, MODIFY_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{nodeId,jdbcType=INTEGER}, #{isDetect,jdbcType=BIT}, 
      #{personNum,jdbcType=INTEGER}, #{skillId,jdbcType=INTEGER}, #{skillLevel,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.easestrategy.mes.entity.NodeJobConf" >
    insert into node_job_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nodeId != null" >
        NODE_ID,
      </if>
      <if test="isDetect != null" >
        IS_DETECT,
      </if>
      <if test="personNum != null" >
        PERSON_NUM,
      </if>
      <if test="skillId != null" >
        SKILL_ID,
      </if>
      <if test="skillLevel != null" >
        SKILL_LEVEL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="isDetect != null" >
        #{isDetect,jdbcType=BIT},
      </if>
      <if test="personNum != null" >
        #{personNum,jdbcType=INTEGER},
      </if>
      <if test="skillId != null" >
        #{skillId,jdbcType=INTEGER},
      </if>
      <if test="skillLevel != null" >
        #{skillLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easestrategy.mes.entity.NodeJobConf" >
    update node_job_conf
    <set >
      <if test="nodeId != null" >
        NODE_ID = #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="isDetect != null" >
        IS_DETECT = #{isDetect,jdbcType=BIT},
      </if>
      <if test="personNum != null" >
        PERSON_NUM = #{personNum,jdbcType=INTEGER},
      </if>
      <if test="skillId != null" >
        SKILL_ID = #{skillId,jdbcType=INTEGER},
      </if>
      <if test="skillLevel != null" >
        SKILL_LEVEL = #{skillLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easestrategy.mes.entity.NodeJobConf" >
    update node_job_conf
    set NODE_ID = #{nodeId,jdbcType=INTEGER},
      IS_DETECT = #{isDetect,jdbcType=BIT},
      PERSON_NUM = #{personNum,jdbcType=INTEGER},
      SKILL_ID = #{skillId,jdbcType=INTEGER},
      SKILL_LEVEL = #{skillLevel,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>