<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easestrategy.mes.dao.ProcessMaterialsMapper" >
  <resultMap id="BaseResultMap" type="com.easestrategy.mes.entity.ProcessMaterials" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="LINE_ID" property="lineId" jdbcType="INTEGER" />
    <result column="MATERIALS_ID" property="materialsId" jdbcType="INTEGER" />
    <result column="NUM" property="num" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, LINE_ID, MATERIALS_ID, NUM, STATUS, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from process_materials
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from process_materials
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.easestrategy.mes.entity.ProcessMaterials" >
    insert into process_materials (ID, LINE_ID, MATERIALS_ID, 
      NUM, STATUS, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=INTEGER}, #{lineId,jdbcType=INTEGER}, #{materialsId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.easestrategy.mes.entity.ProcessMaterials" >
    insert into process_materials
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="lineId != null" >
        LINE_ID,
      </if>
      <if test="materialsId != null" >
        MATERIALS_ID,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lineId != null" >
        #{lineId,jdbcType=INTEGER},
      </if>
      <if test="materialsId != null" >
        #{materialsId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easestrategy.mes.entity.ProcessMaterials" >
    update process_materials
    <set >
      <if test="lineId != null" >
        LINE_ID = #{lineId,jdbcType=INTEGER},
      </if>
      <if test="materialsId != null" >
        MATERIALS_ID = #{materialsId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easestrategy.mes.entity.ProcessMaterials" >
    update process_materials
    set LINE_ID = #{lineId,jdbcType=INTEGER},
      MATERIALS_ID = #{materialsId,jdbcType=INTEGER},
      NUM = #{num,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>