<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easestrategy.mes.dao.WorkOrderMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.easestrategy.mes.entity.WorkOrderMaterial" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="WORK_ORDER_ID" property="workOrderId" jdbcType="INTEGER" />
    <result column="MATERIAL_SERIAL_NUM" property="materialSerialNum" jdbcType="VARCHAR" />
    <result column="MATERIALS_NAME" property="materialsName" jdbcType="VARCHAR" />
    <result column="SPECIFICATIONS" property="specifications" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="INTEGER" />
    <result column="MATERIAL_STATUS" property="materialStatus" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, WORK_ORDER_ID, MATERIAL_SERIAL_NUM, MATERIALS_NAME, SPECIFICATIONS, NUM, MATERIAL_STATUS, 
    STATUS, CREATE_TIME, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_order_material
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_order_material
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.easestrategy.mes.entity.WorkOrderMaterial" >
    insert into work_order_material (ID, WORK_ORDER_ID, MATERIAL_SERIAL_NUM, 
      MATERIALS_NAME, SPECIFICATIONS, NUM, 
      MATERIAL_STATUS, STATUS, CREATE_TIME, 
      MODIFY_TIME)
    values (#{id,jdbcType=INTEGER}, #{workOrderId,jdbcType=INTEGER}, #{materialSerialNum,jdbcType=VARCHAR}, 
      #{materialsName,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{materialStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.easestrategy.mes.entity.WorkOrderMaterial" >
    insert into work_order_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="workOrderId != null" >
        WORK_ORDER_ID,
      </if>
      <if test="materialSerialNum != null" >
        MATERIAL_SERIAL_NUM,
      </if>
      <if test="materialsName != null" >
        MATERIALS_NAME,
      </if>
      <if test="specifications != null" >
        SPECIFICATIONS,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="materialStatus != null" >
        MATERIAL_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workOrderId != null" >
        #{workOrderId,jdbcType=INTEGER},
      </if>
      <if test="materialSerialNum != null" >
        #{materialSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="materialsName != null" >
        #{materialsName,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="materialStatus != null" >
        #{materialStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.easestrategy.mes.entity.WorkOrderMaterial" >
    update work_order_material
    <set >
      <if test="workOrderId != null" >
        WORK_ORDER_ID = #{workOrderId,jdbcType=INTEGER},
      </if>
      <if test="materialSerialNum != null" >
        MATERIAL_SERIAL_NUM = #{materialSerialNum,jdbcType=VARCHAR},
      </if>
      <if test="materialsName != null" >
        MATERIALS_NAME = #{materialsName,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="materialStatus != null" >
        MATERIAL_STATUS = #{materialStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easestrategy.mes.entity.WorkOrderMaterial" >
    update work_order_material
    set WORK_ORDER_ID = #{workOrderId,jdbcType=INTEGER},
      MATERIAL_SERIAL_NUM = #{materialSerialNum,jdbcType=VARCHAR},
      MATERIALS_NAME = #{materialsName,jdbcType=VARCHAR},
      SPECIFICATIONS = #{specifications,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=INTEGER},
      MATERIAL_STATUS = #{materialStatus,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>